* {
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: black;
}
.header__list{
    width: 200px;
}
.header__navbar-item{
    line-height: 0px;
}
.header__navbar-item > span{
    
}
.header__navbar-item > img{
    width: 35px;
    height: 35px;
}